.ChangePassword {
  height: 100vh;
  background-color: #143980;
}
.ChangePassword_main {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 30px 30px 70px;
  background-color: #ffffff;
  .ChangePassword_logo {
    img {
      width: 5rem;
      margin-right: 20px;
    }
  }
  form {
    span {
      margin: 15px 0;
      font-size: 2em;
    }

    .input-group {
      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        display: block;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px solid #445867;

        &::placeholder {
          color: rgba($color: #333, $alpha: 0.8);
          font-weight: 300;
          font-size: 15px;
          line-height: 18px;
        }
        &:focus {
          border: 1px solid #4361ee;
          border-radius: 8px;
        }
      }
    }
  }
  .ChangePassword_btns {
    a {
      float: right;
      padding: 1rem 1.5rem;
      border: 1px solid #e4e6eb;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 10px;
      background-color: #e4e6eb;
      transition: 0.3s;
      color: #333;
      &:hover {
        background-color: #4361ee;
        color: #ffffff;
      }
    }
  }
}
