.comment-detail {
  position: relative;
  .modify-dropdown {
    position: absolute;
    top: 4rem;
    right: -1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.4rem;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    ul,
    li {
      list-style: none;
    }
    li {
      padding: 0.2rem 1rem;
      border-radius: 0.5rem;
      background-color: rgb(255, 255, 255);
      button {
        cursor: pointer;
        width: 100%;
        text-align: left;
      }
      &:hover {
        background-color: #00000029;
      }
    }
  }
}
